<section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow flipInY animated" data-wow-offset="0" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <div class="section-heading text-center">
                        <h2 class="h-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bizimle iletişime geçin</font></font></h2>
                        <div class="divider-header"></div>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor amet sit, agam perfecto sensibus usu duo ut iriure.</font></font></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="row marginbot-80">
            <div class="col-md-8 col-md-offset-2">
                <div id="sendmessage"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mesajınız gönderildi. </font><font style="vertical-align: inherit;">Teşekkür ederim!</font></font></div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="text" name="Ad" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="Eposta" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Konu" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="Mesaj" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>
                    </div>

                    <div class="text-center"><button type="submit" class="btn btn-skin btn-lg btn-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mesaj gönder</font></font></button></div>
                </form>

            </div>
        </div>


    </div>
</section>
