@model IEnumerable<MstYangin.Models.FotoGaleri>
@{
    var ajaxDeleteOptions = new AjaxOptions
    {
        LoadingElementId = "progress",
        Confirm = "Fotoğrafı Silmek İstermisiniz?",
        OnSuccess = "OnSuccess(this)"

    };

}
<div class="row">

    @foreach (var galeri in Model)
    {

        <div class="col-md-3" id="galerifoto">

            <div class="card mb-5" style="width: 18rem;">
                <img class="card-img-top" data-src="holder.js/100px180/?text=Image cap" alt="Image cap [100%x180]" src="~/upload/@galeri.ResimUrl" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
                <div class="card-body text-info">

                    <h4 class="card-title">@galeri.ResimAciklama</h4>
                </div>
                <div class="card-footer bg-transparent border-success"> @Ajax.ActionLink("Sil", "FotoGaleriSil", new { Id = galeri.Id }, ajaxDeleteOptions, new { @class = "btn btn-danger" })</div>
            </div>
        </div>



    }

</div>

</div>
<script>
    function OnSuccess(btn) {
        $(btn).closest("#galerifoto").remove();



    }
</script>